{% extends "hrm_app/base.html" %}
{% block title %}Candidatos{% endblock %}
{% block content %}
<div class="card">
  <h2>Gestión de Candidatos</h2>
  <a href="{% url 'candidato_create' %}" class="btn">Nuevo Candidato</a>
  <table class="table table-striped table-bordered">
    <thead class="table-header">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>CV</th>
        <th>Acciones</th>
      </tr>

    </thead>
    <tbody>
      {% for c in candidatos %}
      <tr>
        <td>{{ c.nombres }} {{ c.apellidos }}</td>
        <td>{{ c.correo }}</td>
        <td>{{ c.telefono }}</td>
        <td><a href="{{ c.cv.url }}" target="_blank">Ver CV</a></td>
        <td>
          <a href="{% url 'candidato_edit' c.id %}" class="btn">Editar</a>
          <a href="{% url 'candidato_delete' c.id %}" class="btn" style="background-color:red;">Eliminar</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No hay candidatos registrados.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}