{% extends "hrm_app/base.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<div class="card">
  <h2>Gestión de Usuarios</h2>
 <a href="{% url 'usuario_create' %}" class="btn btn-success">➕ Nuevo Usuario</a>

<table class="table table-striped table-bordered">
    <thead class="table-header">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Activo</th>
            <th style="width: 180px;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for u in usuarios %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.rol }}</td>
            <td> {% if u.is_active %}
                    <span class="badge bg-success">Sí</span>
                {% else %}
                    <span class="badge bg-danger">No</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'usuario_edit' u.id %}" class="btn btn-sm btn-primary">✏️ Editar</a>
                <a href="{% url 'usuario_toggle' u.id %}" 
                   class="btn btn-sm {% if u.is_active %}btn-warning{% else %}btn-success{% endif %}">
                    {% if u.is_active %} 🔒 Desactivar {% else %} 🔓 Activar {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
